*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #252525;
}

button
{
    background-color: #424242;
    color: white;
    padding: 1rem;
    border-radius: 7px;
    border: none;
    font-family: inherit;
    width: 110px;
    height: 70px;
    font-size: 20px;
    font-weight: 100;
    transition: 0.5s linear;
}

button:hover{
    background-color: #797979;
    width: 170px;
    transition: 0.7s linear;
}

.popup-container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

}

.popup-container.active{
    transition: 3s linear;
    display: flex;
}

.popup{
    background-color: white;
    border-radius: 7.5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    padding: 2rem;
    position: relative;
}

.popup button{
    background-color: white;
    color: #424242;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 110px;
    height: 70px;

}